/*
|--------------------------------------------------------------------------
| $OBJECTS.INLINE-LIST
|--------------------------------------------------------------------------
*/

/**
 * Throw a list into horizontal mode and remove the list styles
 *
 * 1. Make sure we take away any identation that may be applied to lists
 * 2. Make list items line up next to each other
 */
.o-inline-list,
%o-inline-list {
    list-style: none;
    margin-left: 0; /* 1 */
    padding-left: 0; /* 1 */

    > li {
        display: inline-block; /* 2 */
    }
}
