/*
|--------------------------------------------------------------------------
| $OBJECTS.INLINE-LIST
|--------------------------------------------------------------------------
*/

/**
 * Throw a list into horizontal mode and remove the list styles
 *
 * 1. Remove any left-hand identation
 * 2. Make list items line up next to each other
 */
@mixin inline-list {
    list-style: none;
    margin-left: 0; /* 1 */
    padding-left: 0; /* 1 */

    > li {
        display: inline-block; /* 2 */
    }
}

.o-inline-list {
    @include inline-list;
}
