/*
|--------------------------------------------------------------------------
| $OBJECTS.LAYOUT
|--------------------------------------------------------------------------
*/

// Config
$layout-gutter-width: $base-spacing-unit;


/**
 * For creating grid-like layouts. This object is designed to be used with the
 * width utility classes
 *
 * 1. The negative margin compensates for the padding on `.layout__item`
 *    elements, aligning them with the sides of the grid
 * 2. Fix whitespace between inline-block elements
 */
.o-layout {
    @include rem(margin, 0 (-$layout-gutter-width)); /* 1 */
    font-size: 0; /* 2 */
}

    /**
     * 1. Reset font-size from whitespace fix
     */
    .o-layout__item {
        display: inline-block;
        vertical-align: top;
        @include rem(padding, 0 $layout-gutter-width);
        @include rem(font-size, $base-font-size); /* 1 */
    }
