/*
|--------------------------------------------------------------------------
| $SETTINGS.GLOBAL
|--------------------------------------------------------------------------
*/

$debug: false;

$content-width: 960px;

$breakpoints: (
    "content": "(min-width: #{$content-width})"
);
