/*
|--------------------------------------------------------------------------
| $SETTINGS.GLOBAL
|--------------------------------------------------------------------------
*/

$debug: false;

$content-max-width: 960px;

$breakpoints: (
    "content-max-width": "(min-width: #{$content-max-width})"
);
