/*
|--------------------------------------------------------------------------
| $SETTINGS.THEME
|--------------------------------------------------------------------------
*/

$primary-theme-colour: #abc123;
$primary-theme-colour-accent: darken($primary-theme-colour, 5%);

$page-background-colour: #fff;

$body-font-colour: #333;
$heading-font-colour: #424242;

$link-colour: $primary-theme-colour;
$link-colour-highlight: $primary-theme-colour-accent;
