/*
|--------------------------------------------------------------------------
| $SETTINGS.TYPOGRAPHY
|--------------------------------------------------------------------------
*/

$base-font-size: 16px;
$base-line-height: 1.45;

$body-font-size: $base-font-size;
$body-line-height: $base-line-height;
$body-font-stack: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
$body-font-weight: 400;

$heading-line-height: 1.2;
$heading-font-stack: $body-font-stack;
$heading-font-weight: 700;

$small-font-size: .707em;

$base-type-scale: 1.414;
