/*
|--------------------------------------------------------------------------
| $CONFIG.PAGE
|--------------------------------------------------------------------------
*/


/**
 * Standard spacing units
 */
$base-spacing-unit: round($base-font-size * $base-line-height);
$small-spacing-unit: round(halve($base-spacing-unit));
$large-spacing-unit: round(double($base-spacing-unit));





/**
 * Gutter width for the layout units
 */
$layout-gutter-width: $small-spacing-unit;
