/*
|--------------------------------------------------------------------------
| $CONFIG.TYPOGRAPHY
|--------------------------------------------------------------------------
*/


/**
 * Font weights
 */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;


/**
 * Base font settings
 */
$base-font-size: 16px;
$base-line-height: 1.45;
$base-font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-weight: $font-weight-regular;


/**
 * Headings font settings
 */
$base-heading-line-height: 1.2;
$base-heading-font-stack: $base-font-stack;
$base-heading-font-weight: $font-weight-bold;


/**
 * The typescale used to generate heading sizes
 */
$base-type-scale: 1.250;
