/*
|--------------------------------------------------------------------------
| $BASE.LINKS
|--------------------------------------------------------------------------
*/

a {
    color: $link-colour;
    text-decoration: none;
    transition: color .2s ease-in-out;

    @include states (hover, focus) {
        color: $link-colour-highlight;
    }
}
