/*
|--------------------------------------------------------------------------
| $ELEMENTS.LINKS
|--------------------------------------------------------------------------
*/


a {
    color: $base-link-colour;
    text-decoration: none;
    transition: color .2s ease-in-out;

    @include hocus {
        color: darken($base-link-colour, 10%);
    }
}
