/*
|--------------------------------------------------------------------------
| $GENERIC.TYPOGRAPHY
|--------------------------------------------------------------------------
*/


/**
 * Text selection styles
 */
::selection {
    background: $base-selection-background-colour;
    color: $base-selection-font-colour;
}

::-moz-selection {
    background: $base-selection-background-colour;
    color: $base-selection-font-colour;
}
