/*
|--------------------------------------------------------------------------
| $GENERIC.TYPOGRAPHY
|--------------------------------------------------------------------------
*/


/**
 * Text selection styles
 */
::selection {
    background: $brand;
    color: #fff;
}

::-moz-selection {
    background: $brand;
    color: #fff;
}
